.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.headingBlocked {
  display: inline-block;
  margin-top: 0;
  color: var(--dark);
  background: var(--yellow);
  padding: 3px 10px;
}

.lead {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 0.5rem;
}

.mb {
  margin-bottom: 1rem;
}

.textWithBorder {
  text-decoration: none;
  color: var(--dark);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(35%, rgba(255, 215, 0, 0.4)),
    color-stop(35%, transparent)
  );
  background: linear-gradient(0deg, rgba(255, 215, 0, 0.4) 35%, transparent 0);
  font-weight: 700;
}

.textWithBackgroundYellow {
  background-color: var(--yellow);
  color: var(--dark);
  display: inline-block;
  margin-top: 0;
  padding: 3px 10px;
}
